.note{
  background-color: #f081e9;
  width: 456px;
  height: 256px;
  border: 1px solid white;
  border-radius: 16px;
  padding-left:20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin:20px;
}
.note h1{
  text-align: center;
}
.desc{
  font-size: 1.4rem;
}
.notes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}
.svgs{
  width:32px;
  height:32px
}.svgs-edit{
  width:22px;
  height:22px
}
.div-svgs{
  display:flex
}